@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
body {
  margin: 0;
  padding: 0;
  background: #1D2130;
  /* font-family: "Poppins", sans-serif; */
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
